# Basic Rules for Creating Variables in Python

### 1. Variable names must start with a letter or underscore (_)

In [2]:
name = "Johnq"
_name = "Python"
print("name:", name)
print("_name:", _name)

name: Johnq
_name: Python

### 2. Variable names can contain letters, digits, and underscores

In [3]:
user1 = "Alice"
user_name = "Bob"
print("user1:", user1)
print("user_name:", user_name)

user1: Alice
user_name: Bob

### 3. Variable names cannot contain spaces
### Invalid: user name = "Wrong"  # SyntaxError

In [34]:
user name = "Jagadeesh"
user name

SyntaxError: invalid syntax (415098692.py, line 1)

### Long variable names can be written in camelCase, snake_case, PascalCase, kebab-case, or UPPER_SNAKE_CASE depending on the language or coding convention.

In [20]:
user_name = "Jagadeesh" # snake_case commonly used in python and SQL
print(user_name)

Jagadeesh

### 4. Variable names are case-sensitive

In [8]:
name = "John"
Name = "Alice"
print("name:", name)
print("Name:", Name)

name: John
Name: Alice

### 5. Do not use Python keywords as variable names

In [25]:
import keyword
print("Python keywords:", keyword.kwlist)

Python keywords: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### 6. Use meaningful names (recommended)

In [28]:
# a = 25
# b = "Ram" these variables names are meaningless
age = 25
first_name = "Ram"
print("age:", age)
print("first_name:", first_name)

age: 25
first_name: Ram

### 7. Multiple variable assignment

In [31]:
x, y, z = 1, 2, 3
print("x:", x, "y:", y, "z:", z)

a = b = c = 100
print("a:", a, "b:", b, "c:", c)

x: 1 y: 2 z: 3
a: 100 b: 100 c: 100